@model List<Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="New"><button class="btn btn-primary">New Movie</button></a>

@if (Model.Any())
{
<table class="table table-bordered table-hover">
    @foreach (var movie in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)
            </td>
            <td>@movie.Genre.Name</td>
        </tr>
    }
</table>
}
else
{
    <text>No movies</text>
}
